<!DOCTYPE html>
<html>
    <header>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </header>
    <body>
        {% extends 'header.html' %}
        {% block content %}
        <h1>Listado de pagos</h1>
        <table class="table table-striped">
            <tr>
            <th>id Pago</th>
            <th>Fecha pago</th>
            <th>id Cliente</th>
            <th>Producto</th>
            <th>Pago</th>
            </tr>
            {% for pago in pagos %}
            <tr>
                <td>{{pago.id_pago}}</td>
                <td>{{pago.fecha_pago}}</td>
                <td>{{pago.id_cliente.objects.get}}</td>
                <td>{{pago.producto}}</td>
                <td>{{pago.cantidad_pago}}</td>
            </tr>
            {%endfor%}

        </table>
        
        {%endblock%}
    </body>
</html>
